package views

templ InternalError() {
	<p class="h1 text-center">An Error has been occurred on server.</p>
	<p class="h2 text-center">Try Again Later.</p>
	<p class="h3 text-center">We are sorry...</p>
}
